@import url('https://fonts.googleapis.com/css2?family=MedievalSharp&family=EB+Garamond&display=swap');


.header {
    display: flex;
    justify-content: center;   
    align-items: center;       
    height: 100vh;             
    color: white;
  }
  .title {
    font-weight: bold;
    font-size: 4em;
    margin: 0; 
  }

  .main {
    display: flex;
    justify-content: center;
    align-items: center;   /* 👈 Centrage horizontal du texte */
    flex-direction: column;
    color: white;
    font-size: 2em;
    font-weight: 500;
    text-align: center;
         
    font-family: 'EB Garamond', serif;
    font-style: italic;    /* 👈 Pour un effet "citation élégante" */
  }

  .button {
    font-size: 1.5em;
    font-weight: 600;
    text-decoration: none;
    border-radius: 5px;
    border: solid 2px white;
    background-color: white;
    color: #5c0a0a;
    padding: 12px;
  }

 